{% extends 'base.html' %}
{% load static %}



{% block content %}
    <div class="general-section">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 product">
                    <img src="{{ get_product.image.url }}" class="img-fluid">
                </div>
                <div class="col-lg-6 product">
                    <h1>{{ get_product.name }}</h1>
                    <h5>Цена: {{ get_product.price }}$</h5>
                    <p>{{ get_product.short_description }}</p>
                    <p>{{ get_product.description }}</p>
                    <div>
                        <form id="form_buying_product" class="form-inline" action="{% url 'basket_adding' %}">{% csrf_token %}
                            <div class="form-group">
                                <input type="number" class="form-control" name="number" id="number">
                            </div>
                            <button type="submit" class="btn btn-success btn-buy" id="submit_btn"
                                    data-product_id='{{ get_product.id }}'
                                    data-name='{{ get_product.name }}'
                                    data-price='{{ get_product.price }}'
                            >
                                Купить
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
