<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>
    <title>Title</title>
</head>
<body>
<div class="wrapper">
    <div class="wrapper-content">
        {% include 'navbar.html' %}
        {% block content %}
        {% endblock %}
    </div>
</div>

{% include 'footer.html' %}


</body>
</html>
