<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
    <div class="section section1">
        <div class="container">
            <h1 class="category">Товары</h1>
            <div class="row">
                {% for product in products %}
                <div class="col-lg-3">
                    <div class="product-item">
                        <div>
                            <a href="{% url 'product' product.id %}">
                            <img src="{{ product.image.url }}" class="img-fluid img" alt="Не могу отобразить картинку">
                            </a>
                        </div>
                        <h4>{{ product.name }}</h4>
                        <p>{{ product.description|truncatechars:50 }}<br>
                            {{ product.price }}$</p>
                        <div class="add-to-cart-btn">
                            <button class="btn btn-success">В корзину</button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>